
@use '../../styles/abstracts' as *;

.button{
	display: flex;
	margin-top: 0.5rem;
	
	a {
		margin-left: auto;
		background-color: $accent-colour;
		color: $background-colour-primary;
		padding: 0.65rem 1.15rem;
		border-radius: 5px;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: $hover-colour;
			color: black;
			font-weight: 500;
		}
	}
}