
@use '../../styles/abstracts' as *;

.meeting {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 0;
	border-top: 1px solid rgba(0, 0, 0, 0.185);

	.meetingDetails {
		h3 {
			margin: 0.25rem 0;
		}

		p {
			margin: 0;
		}
	}

	.buttons {
		display: flex;

		svg {
			position: relative;
			width: 2rem;
			height: 2rem;
			margin-left: 0.5rem;

			&:hover,
			&focus {
				fill: $warning-colour;
			}
		}
	}

	&:first-of-type {
		border-top: none;
	}
}