
@use '../../styles/abstracts' as *;

.logo {
	z-index: 3;
	display: flex;
	flex-direction: column;
	margin: 0.6rem;

	p,
	h1 {
		margin: 0;
	}
	
	p {
		font-weight: 600;
	}

	h1 {
		font-size: 1.6rem;
		font-weight: 800;
		color: $accent-colour;
	}
}