
.container {
	max-width: 950px;
	margin: 0 auto;
}

.adminContainer{
	padding: 0 0.75rem;
	max-width: 600px;
	margin: 0 auto;

	.adminMenu {
		display: flex;
		flex-direction: column;
	}

	.logoutLink {
		margin: 0;
	}

	a,
	.logoutLink {
		font-size: 1.3rem;
		margin: 0.25rem 0;
	}
}