
.container {
	max-width: 950px;
	margin: 0 auto;
}

.meetings {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	max-width: 600px;
	margin: 0 auto;
}

.createMeeting {
	padding: 0.5rem;
	max-width: 600px;
	margin: 0 auto;
}