
@use '../../styles/abstracts' as *;

.divider {
	padding: 0.5rem;

	span {
		display: block;
		width: 100%;
		height: 1px;
		background: black;
		opacity: 0.35;
	}

	@media (min-width: $breakpoint-tablet) {
		display: none;
	}
}