
// Breakpoints
$breakpoint-mobile: 440px;
$breakpoint-mobile-nav: 660px;
$breakpoint-tablet: 750px;

// Colours
$background-colour-primary: #f1e2d5;
$background-colour-section: #f7f1eb;
$accent-colour: #583c00;
$hover-colour: #a5a5a5;
$warning-colour: #b91313;

// Layout
$border-radius: 0.5rem;
$box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.288);