
@use './abstracts' as *;

@mixin desktop-content-box {
	margin: 0.5rem;
	margin-bottom: 0.75rem;
	min-height: 250px;
	background-color: $background-colour-section;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	overflow: hidden;
}