
@use '../../styles/abstracts' as *;

.nextMeeting {
	display: flex;
	flex-direction: column;

	.container {
		padding: 0.5rem;
	
		h2,
		p {
			margin: 0
		}
	
		h2 {
			font-size: 1.2rem;
			margin-bottom: 0.75rem;
		}
	
		.time {
			font-size: 1.5rem;
			font-weight: 500;
		}
		
		.date {
			font-size: 1.75rem;
			font-weight: 700;
			color: $accent-colour;
			margin-bottom: 0.5rem;
		}
	
		.venue {
			font-size: 1.3rem;
			font-weight: 500;
		}
	
		.postcode {
			font-size: 1rem;
			font-weight: 600;
			opacity: 0.8;
			margin-bottom: 0.75rem;
		}
	}
	
	.mapContainer {
		height: 180px;
	}

	// Button margin.
	a {
		margin-right: 0.5rem;
	}
}